footer { font-size: 90%; font-family: monospace; }

main table {
  margin: 0;
}

.article-meta {
  background: #6c5ce7;
}
.article-meta .title {
  font-size: 0.8em;
}
.article-meta .date {
  font-size: 0.7em;
}
